<!DOCTYPE html>
<html ng-app="myApp" manifest="app.manifest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>ng1</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link rel="stylesheet" href="/css/style.min.css" />
    <script src="/js/libs.min.js"></script>
    <script src="/js/view.min.js"></script>
    <script src="/main.js"></script>
</head>

<body>
    <h1>AngularJS Home Page (Ui-router Demonstration)</h1>
    <div data-ui-view=""></div>   
</body>
</html>