<!-- <span class="btn-test cp">按钮1</span>
<br />
<span class="btn-test1 cp" ng-click="test()">按钮2</span>
<br />
<span ui-sref="PageTab"><a href="">pageTab</a></span> -->
<header-top></header-top>

<div class="mainWrap clearfix">
	<div class="leftBar">
		<ul class="ant-menu ant-menu-inline  ant-menu-dark ant-menu-root" role="menu" aria-activedescendant="" tabindex="0">
			<li class="ant-menu-submenu-inline ant-menu-submenu">
				<div class="ant-menu-submenu-title" aria-expanded="false" aria-owns="12$Menu" aria-haspopup="true" style="padding-left: 24px;"><span><i class="anticon anticon-bars"></i><span>我的工作</span></span></div>
				<ul class="ant-menu ant-menu-inline  ant-menu-sub ant-menu-hidden" role="menu" aria-activedescendant="" id="12$Menu">
					<li class="ant-menu-item" role="menuitem" aria-selected="false" style="padding-left: 48px;"><a href="/ng/caseSearch/1">处理中的案件</a></li>
					<li class="ant-menu-item" role="menuitem" aria-selected="false" style="padding-left: 48px;"><a href="/ng/caseSearch/2">可处理案件</a></li>
					<li class="ant-menu-item" role="menuitem" aria-selected="false" style="padding-left: 48px;"><a href="/ng/caseSearch/3">处理过的案件</a></li>
				</ul>
			</li>
			<li class="ant-menu-submenu-inline ant-menu-submenu-open ant-menu-submenu-selected ant-menu-submenu">
				<div class="ant-menu-submenu-title" aria-expanded="false" aria-owns="13$Menu" aria-haspopup="true" style="padding-left: 24px;"><span><i class="anticon anticon-bars"></i><span>案件录入</span></span></div>
				<ul class="ant-menu ant-menu-inline  ant-menu-sub" role="menu" aria-activedescendant="" id="13$Menu">
					<li class="ant-menu-item-selected ant-menu-item" role="menuitem" aria-selected="false" style="padding-left: 48px;"><a href="/ng/PageTab">案件录入</a></li>
				</ul>
			</li>
			<li class="ant-menu-submenu-inline ant-menu-submenu">
				<div class="ant-menu-submenu-title" aria-expanded="true" aria-owns="19$Menu" aria-haspopup="true" style="padding-left: 24px;"><span><i class="anticon anticon-bars"></i><span>案件查询</span></span></div>
				<ul class="ant-menu ant-menu-inline  ant-menu-sub ant-menu-hidden" role="menu" aria-activedescendant="" id="19$Menu">
					<li class="ant-menu-item" role="menuitem" aria-selected="true" style="padding-left: 48px;"><a href="/ng/caseSearch/0">案件查询</a></li>
				</ul>
			</li>
		</ul>
	</div>
</div>
